- @entry ||= Entry.new(:created_at => Date.today, :amount => 0.0)

#error_messages= error_messages_for 'entry'

= form_for(@entry) do |f|
  = f.text_field :created_at, :size => 11
  = f.text_field :amount, :size => 12
  = f.text_field :comment
  = f.text_field :tag_names
  = f.submit '', :name => nil

:javascript
  $(function() {
    $("#entry_created_at").datepicker();

    $("#new_entry").submit(function() {
        $(this).submit(function() {
            return false;
        });
        return true;
    });
  });
