- if user_signed_in?
  #header
    #context
      - form_tag context_path, :method => :post, :id => 'context_form' do
        date:
        = select_tag 'f_created_at', options_for_select(date_contexts, session[:context][:date][0])
        %span#f_created_at_interval
          = text_field_tag 'f_created_at_s', session[:context][:date][1][0], :class => 'datepicker', :size => 11
          = text_field_tag 'f_created_at_f', session[:context][:date][1][1], :class => 'datepicker', :size => 11

        type:
        = select_tag 'f_type', options_for_select(type_contexts, session[:context][:type])
        = submit_tag 'apply', :id => 'context_apply'
        %input#context_reset{:type => 'button', :value => 'reset'}


    = current_user.email
    = link_to 'Entries', entries_path
    = link_to 'Calendar', calendar_path
    = link_to 'Tags', tags_path
    = link_to 'Logout', destroy_user_session_path, :id => 'logout_link'

- if @content_for_header
  #header_contextual
    = yield(:header)
