!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title= h(yield(:title) || "Untitled")
    = stylesheet_link_tag 'jquery-ui', 'application', :cache => 'cached_application'
    = javascript_include_tag 'jquery.min', 'jquery-ui.min', 'jquery.tablesorter.min', 'application', :cache => 'cached_application'
    = yield(:head)

  %body
    = render 'shared/header'
    - if show_title?
      %h1= h(yield(:title))
    #container
      - flash.each do |name, msg|
        %div{:id => "flash_#{name}"}= flash.delete(name)
      = yield
    - if content_for? :sidebar
      #sidebar
        = yield(:sidebar)

